{% extends "base.html" %}
{% block sheets %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/add_C.css') }}">
{% endblock %}

{% block content %} 
    <h1>Add Customer</h1>
    <form method="POST" action="">
        <input class="form-control" placeholder="First Name" type="text" id="name" name="name" required>
        <input  class="form-control" placeholder="Last Name" type="text" id="last_name" name="last_name" required>
        <input class="form-control"placeholder="Age" type="number" id="age" name="age" required>
        <input class="form-control" placeholder="Country" type="text" id="country" name="country" required>
        <br>
        <button class="btn btn-light" type="submit">Submit</button>
    </form>
    <br>
    <a href="{{ url_for('index') }}" class="btn btn-info""">Back to Customers</a>
{% endblock %}