{% extends "base.html" %}
{% block sheets %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/add_C.css') }}">
{% endblock %}

{% block content %} 
    <h1>Add Customer</h1>
    <form method="POST" action="">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>
        <br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
        <br>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" required>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <div class="submit">
        <a href="{{ url_for('index') }}">Back to Customers</a>
    </div>
{% endblock %}