{% extends "base.html" %}

{% block content %} 
    <h1>Add Order for Customer {{ customer_id }}</h1>
    <form method="POST" action="">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
            </div>
            <input class="form-control" type="text" id="price" name="price" value="0" required>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Chair</span>
            </div>
            <input class="form-control" type="number" id="chair" name="chair" value="0" required>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Stool</span>
            </div>
            <input class="form-control" type="number" id="stool" name="stool" value="0" required>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Table</span>
            </div>
            <input class="form-control" type="number" id="table" name="table" value="0" required>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Cabinet</span>
            </div>
            <input class="form-control" type="number" id="cabinet" name="cabinet" value="0" required>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Dresser</span>
            </div>
            <input class="form-control" type="number" id="dresser" name="dresser" value="0" required>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Couch</span>
            </div>
            <input class="form-control" type="number" id="couch" name="couch" value="0" required>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Bed</span>
            </div>
            <input class="form-control"  id="bed" name="bed" value="0" required>
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Shelf</span>
            </div>
            <input class="form-control" type="number" id="shelf" name="shelf" value="0" required>
        </div>
        <br>
        <button class="btn btn-light" type="submit">Submit</button>
    </form>
    <br>
    <div class="submit">
        <a href="{{ url_for('index') }}">Back to Customers</a>
    </div>
{% endblock %}