<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    {% block sheets %}{% endblock %}
    {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Order System</title>
      {% endif %}
</head>
<body>  
    <nav>
        <li><a href="{{ url_for('index') }}">Customers</a></li>
        <li><a href="{{ url_for('orders') }}">Orders</a></li>
        <li><a href="{{ url_for('customer_locations') }}">Customer Location</a></li>
        <li><a href="{{ url_for('popular_furniture') }}">Relationships</a></li>
        <li> <a href="{{ url_for('top_orders') }}">Top_Orders</a></li>
        <li><a href="{{ url_for('top_spenders') }}">Top_spends</a></li>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>