{% extends "base.html" %}

{% block sheets %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
{% endblock %}

{% block content %}
    <h1 class="mb-3">Order/Costumer System</h1>
    <h2 class="mb-3">Customer</h2>
    <a href="{{ url_for('add_customer') }}" class="btn btn-info mb-3">Add New Customer</a>
    <ul class="list-group">
        {%for customer in customers%}
                <li class="list-group-item">
                    <div class="row justify-content-start">
                        <div class="col"><p>{{customer.customer_id}}</p></div>
                        <div class="col"><p>{{customer.customer_first_name}}</p></div>
                        <div class="col"><p>{{customer.customer_last_name}}</p></div>
                        <div class="col"><a href="{{ url_for('add_order', customer_id=customer.customer_id) }}" class="btn btn-outline-secondary">Add Order</a> </div> 
                        <div class="col"><a href="{{ url_for('delete_customer', customer_id=customer.customer_id) }}" class="btn btn-outline-secondary">Delete Customer</a> </div>
                        <div class="col"><a href="{{ url_for('edit_customer', customer_id=customer.customer_id) }}" class="btn btn-outline-secondary">Edit Customer</a>  </div>
                        <div class="col"><a href="{{ url_for('special_offer', customer_id=customer.customer_id) }}" class="btn btn-outline-secondary"">Special Offer</a> </div>
                        <div class="col"><a href="{{ url_for('get_recommendations', customer_id=customer.customer_id) }}" class="btn btn-outline-secondary">Recoomendation</a></div>
                    </div>
                </li>
        {% endfor %}
    </ul>
{% endblock %}