<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Order</title>
</head>
<body>  
    <h1>Customer</h1>
    <ul>
        {%for customer in customers%}
            <li>{{customer.customer_id}} {{customer.customer_first_name}} {{customer.customer_last_name}} - <a href="{{ url_for('add_order', customer_id=customer.customer_id) }}">Add Order</a> - <a href="{{ url_for('delete_customer', customer_id=customer.customer_id) }}">Delete Customer</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_customer') }}">Add New Customer</a>
</body>
</html>