{% extends "base.html" %}

{% block sheets %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/topOrder.css') }}">
{% endblock %}

{% block content %} 
    <h1>Top Customers by Orders</h1>
    <ul>
        {% for customer in customers %}
            <div class="container">
            <li>
                    <div class="name">
                        {{ customer.customer_first_name }} 
                        {{ customer.customer_last_name }} 
                    </div>
                    <div class="orderLength">
                        Orders: {{ customer.orders|length }}
                    </div>
            </li>
            </div> 
        {% endfor %}
    </ul>
    <br>
    <div class="submit">
        <a href="{{ url_for('index') }}">Back to Customers</a>
    </div>
{% endblock %}