<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Top, initial-scale=1.0">
    <title>Top Spenders</title>
</head>
<body>
    <h1>Top Spenders</h1>
    <ul>
        {% for customer in customers %}
            <li>{{ customer.name }} {{ customer.last_name }} - Total Spending: ${{ "{:.2f}".format(sum(order.price for order in customer.orders)) }}</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{{ url_for('index') }}">Back to Customers</a>
</body>
</html>