{% extends "base.html" %}

{% block content %}
    <h1 class="mb-3">{{ title }}</h1>
    <div class="card mb-4">
        <div class="card-body">
            <p>The chart shows the relationship between the customer's country and the number of items of furniture ordered.</p>
            <p>The number of pieces of furniture is listed on the X-axis and the customer's country is listed on the Y-axis.</p>
        </div>
    </div>
    <img src="data:image/png;base64,{{ img_base64 }}" alt="{{ title }} Chart">
    <br>
    <a href="{{ url_for('index') }}" class="btn btn-info mt-2">Back to Customers</a>
{% endblock %}